* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width:80%;
    padding: 10px;
    border: 5px solid black;
    border-radius: 8px;
    margin-right:5px;
    margin-bottom:5px;
    margin-left:5px;
    height:800px;
  }

  
h2{
    text-align: center;
}
  
table {
    border:1px solid black;
    width:100%;
    height: 100%;
}
  
td {
    width:10%;
    height:10%;
}
  
button {
    width: 100%;
    height: 100%;
    font-size: 50px;
    color:red;
}

#infobox {
    background-color: #d1d4f0;
}

